# dependencies
node_modules

# env files
.env
.env.*
!.env.example

# build output
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# drizzle migrations (keep migrations, ignore local cache if any)
drizzle/meta

# TypeScript cache
*.tsbuildinfo
